body{
	background-color: green;
}
.container{
	background-color: white;
}
#menu{
	margin-top: 20px;
	
}
#titu{
	margin: -10px;
}
#redes{
	margin-bottom: 40px;
}
.responsive{
	height: 370px;
}
.respon{
	height: 250px;
	
}
#textarea1{
	
	border-radius: 15px;
}
h3{
	margin: 70px 0 0 0;
	font-family: helvatica;
	font-style: oblique;

}