body{
	background-color: lightgreen;
}	
header .container{
	height: 150px;
	margin-top: 0;
	padding-top: 20px;
	background-color: green;
	color: white;
}

#parte{
	background-color: white;
}
#este{
	background-color: lightgreen;
}
h5{
	margin-top: 40px;
	
}
h2{
	font-style: oblique;
	font-family: comic sans ms ;
}
#imagen img{
	width: 100%;
	height: 300px;
}
#platos img{
	width: 90%;
	height: 90%;
}
#platos {	
	height: 15rem;
	border-radius: .25rem;
	overflow: hidden;
}

#platos div{		
	background-size: cover;
	background-position: center;
}
#busca{
	background-color: lightgreen;
	
}
@media (max-width: 767px) {
	
	#platos {	
		height: 20rem;
	}
	#busca{
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}
nav{
	background-color: transparent;
	margin-bottom: 1rem;	
    border: solid white;
    border-width: 0;
}

nav #uno{
	border-radius: 3%;
	border-width: 0 1px 0 0;
	border-color: white;
}

nav .nav-pills .nav-link {
	border-radius: 5%;
    color: white;
    
    
}

nav .nav-pills .nav-link:hover{
	color: black;	
    border-width: 1px 20px;
   
}
p{
	padding: 20px;
}
h3{
	padding: 20px;
}
#arri{
	background-color: green;
	color: white;
}
#med{
	background-color: lightgreen;
}
#foot{
	margin: 0 8%;
	background-color: green;
}
